Hi!

<br/>
Your video call scheduled for <%= @start_time %> has been cancelled.

<br/>
Unfortunately I've run into a scheduling conflict and need to reschedule. Hopefully we can find another opportunity to catch up – feel free to book another slot on <a href="<%= Rails.application.config.base_url %>"><%= Rails.application.config.base_url %></a>!

<br/>
Cheers!

<br/>
Jason
