Hi!

We've got a video call scheduled at <%= @start_time %>!

Please go to <a href="http://localhost:3000/chat?token=<%= @token %>&identity=<%= @email %>&start_time=<%= @start_time %>">http://localhost:3000</a> at the scheduled chat time.

Note that for the video chat to work, you'll need to be using either Google Chrome or Firefox 


Cheers!

Jason
