<%= month_calendar attribute: :start_time, events: @conversations do |date, conversations|%>
  
  <div class="calendar-date"><%= date.day %></div>

  <% if date_available?(date) && !date_booked?(date, conversations) %>
    <%= link_to "Available", "#{conversations_path}/new?date=#{date}", :class => "available" %>
  <% end %>
      
  <% conversations.each do |conversation| %>
    <% if in_the_future?(conversation) %>
      <div>
        <%= "Booked" %><br/> 
      </div>
    <% end %>
  <% end %>

<% end %>

