<h1>Book a Timeslot!</h1>

<p style="text-align:center">
Select a time below and at the email address provided, you'll receive a link for the call that you can open in the browser
</p>

<div class="outer_form_container">
  <div class="form_boundary">
    <%= render 'conversation_form' %>
  </div>
</div>
