<h1>Book a Timeslot!</h1>

<p style="text-align:center">
  <%= link_to 'Back to Schedule', conversations_path %>
</p>

<div class="col-md-6 col-md-offset-3">
  	<%= flash_messages %>
 
	<div class="outer_form_container">
	  <div class="well form_boundary new-chat">
	    <%= render 'conversation_form' %>
	  </div>
	</div>
</div>