<div class="center">

  <h1>About</h1>

  <div class="col-md-8 col-md-offset-2">

    <div class="row">
      <a href="https://github.com/at1as/call-me-maybe">Issues, Feature Requests, Info</a>
    </div>

  </div>
</div>
