<div class="center">

  <h1>About</h1>

  <div class="col-md-4 col-md-offset-4">

  	<div class="well">
	  	<p>
	  		Keeping in touch can be tough. Reaching out to friends last encountered months or years ago can feel awkward. 
	  	</p>
	  	<p>
	  		<b><i>Call Me Maybe</i></b> aims to make this a little bit less awkward. If you feel like catching up, no need to find an excuse to chat, just book a slot on the Calendar and you'll be sent an email with a video link (and optional text message reminder beforehand). Open the link in Firefox or Chrome at the allotted time, and we'll catch up!
	  	</p>
  	</div>

    <div class="row">
      See <a href="https://github.com/at1as/call-me-maybe">Github</a> for Issues, Feature Requests and other Info
    </div>

  </div>
</div>
